body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: rgb(0, 255, 60);
}
nav a:hover {
  text-decoration: underline;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #222 !important;
}
